.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rInput{
  height: 30px;
  padding: 10px;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.returnButton{
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.rButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}